/* src/components/Modal/Modal.scss */
.modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modalClose {
  margin-left:133px;
}

.modalElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}