.signupForm form{
    display:flex;
    flex-direction:column;
    width:50%;
    background-color: var(--darkBackground);
    color: var(--light);
    margin: auto;
    padding: 2%;
    border: 5px solid var(--lightBorder);
    border-radius:20px;
    text-align:left;
}

.airplaneHangar {
    display:flex;
    justify-content:center;
}

.signupForm {
    text-align:center;
    margin-top:5%;
}