:root {
  --darkBackground:#04566e;
  --light:#eff2f6;
  --lightBorder: #b4d330;
  --dark:#022831;

}

//font import

@import url("https://use.typekit.net/veo7sml.css");

// global

body {
  margin:0;
}

button, .button {
  background-color:var(--light);
  font-weight:bolder;
  font-family: "transat", sans-serif;
  border:5px solid var(--lightBorder);
  padding:10px;
  border-radius:20px;
  font-family:'rigid-square', sans-serif;
  width:fit-content;
  margin:1em;
  transition:all .2s;
}

button:hover, .button:hover {
  box-shadow:5px 5px 10px var(--dark);
}

button:active, .button:active {
  background-color:var(--darkBackground);
  color:var(--light);
  box-shadow:inset 5px 5px 10px var(--dark);

}

input {
  font-family: "rigid-square", sans-serif;
  margin-bottom:1em;
}

html {
  scroll-behavior: smooth;
  background-color:var(--light);
  font-family: 'rigid-square', sans-serif;
}



main {
  min-height:100vh;
  background-color:var(--light);
  color:var(--dark);
  margin-left:5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "transat", sans-serif
}

