* {
   color: #04566e;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    box-shadow: 2px 2px black;
    width: 75px;
    position: relative;
    font-weight: bolder;
    margin: auto;
}