.tickerWrapper {
    display:flex;
    justify-content:space-between;
    overflow:hidden;
    flex-direction:row;
    flex-wrap:nowrap;
    margin-bottom:1em;
}

.tickerContent {
    // width:100%;
    display:flex;
    justify-content:space-between;
    // overflow:hidden;
    animation: tickerAnimate 40s linear infinite;
    // margin-right:2em;

}

.tickerContent:hover {
    animation-play-state: paused;
}

.tickerTextContain {
  margin-right: 3em;
  min-width: 250px
}

.tickerAuthor {
    font-style:italic;
    color:var(--lightBorder);
}

  @keyframes tickerAnimate {
    0% {

      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    100% {

      transform: translate3d(-100%, 0, 0);
    }
  }