.tickerWrapper {
    display:flex;
    justify-content:space-between;
    overflow:hidden;
    flex-direction:row;
    flex-wrap:nowrap;
}

.tickerContent {
    width:100%;
    display:flex;
    justify-content:space-between;
    overflow:hidden;
    animation: tickerAnimate 15s linear infinite;

}

.tickerContent:hover {
    animation-play-state: paused;
    
}

.tickerText {
  
    
}

.tickerAuthor {
    font-style:italic;
    color:var(--lightBorder);
}

  @keyframes tickerAnimate {
    0% {

      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    100% {

      transform: translate3d(-100%, 0, 0);
    }
  }