.countryCardContainer {
    display: flex;
    justify-content: space-around;
    width: 95%;
    flex-wrap:wrap;
    position:relative;
    padding-top: calc(var(--drawerHeight) + 20px);
}

.containerCenter {
    display:flex;
    justify-content:center;
}

.singleCountryHead {
    height:12em;
    display:flex;
    margin-bottom:1em;
    overflow-x: hidden;
}