.alignSearchElements {
  display:flex;
  justify-content:space-around;
}

.mapDataContain {
  width:15%;
  margin:2em;
}

.searchdropdownContainer {
  display: flex;
  width: 70%;
  align-items: center;
  margin: 2em;
  border: 5px solid var(--darkBackground);
  padding: 1em;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
}

.dropdownContainer {
  display: flex;
  margin-left: auto;
  // padding-right: 50px;
  margin-bottom: auto;
  flex-direction:column;
}

.dropdownContainer h4 {
  margin:0 0 1em 0;
}

.comparisonContainer {
  display: flex;
}

.range-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rangeYearText {
  color: var(--darkBackground);
}