.alignSearchElements {
  display:flex;
  justify-content:space-around;
}



.searchdropdownContainer {
  display: flex;
  width: 70%;
  align-items: center;
  margin: 2em;
  border: 5px solid var(--darkBackground);
  padding: 1em;
  border-radius: 10px;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  width:95%;
  align-items: center;
}



.comparisonContainer {
  display: flex;
}

.range-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rangeYearText {
  color: var(--darkBackground);
}


@media screen and (max-width:700px) {

}