.searchdropdownContainer {
  display: flex;
  padding-left:50px;
  align-items: flex-start;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
}

.dropdownContainer {
  display: flex;
  margin-left: auto;
  padding-right: 50px;
  margin-bottom: auto;
}

.comparisonContainer {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.range-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rangeYearText {
  color: var(--darkBackground);
}