.chart-container {
  display: flex;
  align-items: center;
}

.range-modal input[type='range'] {
  transform:rotate(270deg);
}

.chart-title {
  display: flex;
  justify-content: center;
  color: var(--lightBorder);
  padding-left:133px;
}

#rangeYearText-modal {
  color: var(--lightBorder);
}