footer {
    display:flex;
    justify-content:center;
    background-color:var(--darkBackground);
    color:var(--light);
    width:100%;
    height: auto;
    padding-top:1em;
    flex-wrap:wrap;
}

.authors {
    display:flex;
    width:95%;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom:1em;
}

.authorContain {
    width:100%;
    padding-bottom:1em;
}
.authors a {
    color:var(--lightBorder);
    text-decoration: underline;
}

.authorName {
    width:30%;
    transition:all .3s;
    text-align: center;
    padding-bottom:1em;
}

.authorName:hover {
    scale:1.2;
}

.copyright {
    width:100%;
    text-align: center;
    padding:1em 0; 
}

.madeWith {
    width:100%;
    padding-bottom: 1em;
}

.techstackContainer {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    width:95%;
    justify-content: space-between;

}

@media screen and (max-width: 1200px) {
    .authorName {
        width:47%;
    }
}

@media screen and (max-width: 700px) {
    .authors {
        width:90%;
    }

}