footer {
    display:flex;
    justify-content:space-between;
    background-color:var(--darkBackground);
    color:var(--light);
    width:100%;
    height: 150px;
    padding:1em;
}

.techstackContainer {
    display: flex;
}