.countryCard {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    width: 28%;
    height: 300px;
    overflow: hidden;
    border: solid 5px var(--lightBorder);
    background-color: var(--darkBackground);
    color: var(--light);
    margin-bottom: 3em;
    border-radius: 30px;
    padding:20px;
    transition:box-shadow .2s;
    cursor:pointer;
}

.countryCard:active {
    box-shadow:inset 10px 10px 10px var(--dark);
}

.countryCard.wide img {
    height:auto;
    width:50%;
}

.expandedCardInfo {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width:47%;

}

.expandedChartArea {
    width:50%;
    margin-left:10px;
}

.wide {
    width: 96.5%;
    height: 700px;
}

.cardIcon {
    width:45%;
}

.cardIcon img {
    width:70%;
    height:auto;

}

.cardTitle {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:47%;
}

.cardValue {
    font-size:3em;
    margin:10px 0 10px 0;
    
}

.clickHere {
    font-style:italic;
    width:100%;

}

.countryCard:hover {
    box-shadow: 10px 10px 10px var(--dark);
}

.expandedDivider {
    border-top:2px solid var(--light);
    width:100%;
    padding-top:.5em;
}


@for $i from 1 through 30 {
    .card:nth-child(#{$i}) {
        order: $i;
    }
}