.countryCard {
    display: inline-flex;
    width: 28%;
    height: 300px;
    overflow: hidden;
    border: solid 5px var(--lightBorder);
    background-color: var(--darkBackground);
    color: var(--light);
    margin-bottom: 20px;
    border-radius: 30px;
    padding:20px;
}

.wide {
    width: 96.5%;
    height: 600px;
}


@for $i from 1 through 30 {
    .card:nth-child(#{$i}) {
        order: $i;
    }
}