@import "../node_modules/rfs/scss";

.countryCard {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    width: 28%;
    height: 300px;
    overflow: hidden;
    border: solid 5px var(--lightBorder);
    background-color: var(--darkBackground);
    color: var(--light);
    @include margin-bottom(3em);
    border-radius: 20px;
    @include padding(1em);
    transition:box-shadow .2s;
    cursor:pointer;
}

.countryCard:active {
    box-shadow:inset 10px 10px 10px var(--dark);
}

.countryCard.wide img {
    height:auto;
    width:50%;
}

.expandedCardInfo {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width:47%;

}

.expandedChartArea {
    width:50%;
    margin-left:10px;
}

.wide {
    width: 96.5%;
    height: 700px;
}

.cardIcon {
    width:45%;
}

.cardIcon img {
    width:70%;
    height:auto;

}

.cardTitle {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:47%;
}

.cardValue {
    @include font-size(2.7em);
    margin:10px 0 10px 0;
    
}

.clickHere {
    font-style:italic;
    width:100%;

}

.countryCard:hover {
    box-shadow: 10px 10px 10px var(--dark);
}

.expandedDivider {
    border-top:2px solid var(--light);
    width:100%;
    padding-top:.5em;
}


@for $i from 1 through 30 {
    .card:nth-child(#{$i}) {
        order: $i;
    }
}

@media screen and (max-width: 1100px) {
    .countryCard {
      width:40%;
      flex-wrap:wrap;
      justify-content: flex-start;;
    }
    .wide {
        width:96.7%;
    }
    .cardIcon {
        width:30%;
    
    }
    .cardTitle {
        width:100%;
    }
    .cardValue {
        font-size:2em;
    }
    h3 {
        margin-bottom:.5em;
    }
  }

  @media screen and (max-width: 700px) {
    .countryCard {
      width:100%;
      flex-direction:column;
      height:auto;
    }
    .wide {
        width:100%;
    }
    .expandedCardInfo {
        width:100%;
    }
  }