.dropdownContainer .alignSelect {
    left:0;
    margin:0;
}



.singleCountryImage {
   height:100%;  
}

.singleCountryHeadTitle {
    background:var(--lightBorder);
    background-color:var(--light);
    color:var(--darkBackground);
    border:solid 5px var(--lightBorder);
    border-radius:20px;
    width:fit-content;
    padding:20px;
    position:absolute;
    margin-top: -175px;
    margin-left: 90px;
}

.singleCountryHeadTitle h2{
    margin:0;
}

.singleCountryInput {
    
    max-height: 20em;
}

.splashOpenMap {
    position:relative;
    text-align: center;
}

.splashSearchCont {
    position:relative;
    top:0;
    transition:all .3s;
    width:32%;
}

.suggestion{
    cursor: pointer;
    background-color:var(--lightBorder);
    border-right: 1px solid var(--lightBorder);
    border-left: 1px solid var(--lightBorder);
    border-bottom: 1px solid var(--lightBorder);
    min-width: 215px;
    padding:.5em;
}


.suggestion:hover{
    background-color:var(--darkBackground);
    color:var(--light)
}


.suggestionCont {
    height: 200px;
    overflow: auto;
    z-index: 5;
    position: fixed;
}


 @media screen and (max-width: 700px) {
    .dropdownContainer .alignSelect {
        left:0;
        // top:15px;
    }


    .dropdownContainer {
        display:flex;
        flex-direction:column;
    }
 }
