header a {
    text-decoration:none;
}

header {
    background-color:var(--darkBackground);
    display:flex;
    justify-content:space-between;
    padding:20px;

}

header h1 {
    color:var(--lightBorder);
    font-size:3em;
}


.navbar {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-size:1.2em;

}

.navLink {
    color:var(--light);
    margin-right:1em;
    transition:all .3s;
    border-radius:10px;
    padding:.3em;
}

.navLink:hover {
    color:var(--lightBorder);
    scale:1.2;
   

}

.navLink:active {
    color:var(--light);
    
}

@media screen and (max-width: 1200px) {
    .navbar {
        width:100%;
        justify-content:flex-start;
        
    }
    header {
        justify-content:flex-start;
        flex-wrap:wrap;
    }

} 
@media screen and (max-width: 760px) {
    .navbar {
        font-size:.8em;
    }
}


@media screen and (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
justify-content: center;    
    }
}
