.visaContainer {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}


.visaInfo {
    width:47%;
}

.visaImage {
    width:50%;
}

.visaInfoRecs {
    width:100%;
}

.visaMain {
    margin-left:5%;
}