.visaContainer {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}


.visaInfo {
    width:45%;
}

.visaImage {
    width:45%;
}

.visaInfoRecs {
    width:95%;
}

.visaMain {
    margin-left:5%;
}

@media screen and (max-width: 880px) {
    .visaImage {
        width:95%;
    }
    .visaInfo {
        width:95%;
    }
}