.about {
    margin-left:5%;
    min-height:100vh;
}

.aboutSection {
    display:flex;
    justify-content:space-between;
}

.aboutPics {
    width:55%;
    display:flex;
    justify-content:center;
}

.aboutPics img{
    width:80%;
}

.aboutText {
    width:40%;
}

.familyAboutPic {
    margin-left:-160px;
    transition:all .3s;
}

.landscapeAboutPic {
    z-index:5;
    transition: all .3s;
}

.spiLogo {
    width:50%;
}

.spiLogo img {
    width:100%;
}

.spiSection {
    display:flex;
    justify-content:space-between;
}

.spiText {
    margin:0 5% 0 5%;
    width:47%;
}

figure {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;;
}

figcaption {
    font-size:.5em;
    font-style:italic;
    background-color:var(--light);
    padding:2px;
 
}

@media screen and (max-width: 1000px) {
    .familyAboutPic {
        margin-left:-110px;
    }
}

@media screen and (max-width: 1200px) {
    .aboutPics {
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .familyAboutPic {
        width:50%;
        margin-left: 233px;
        order: 1;
        z-index: 10;
    }
    .landscapeAboutPic {
        order:2;
        position:relative;
        top:-100px;
    }
}

@media screen and (max-width: 700px) {
    .aboutPics {
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .familyAboutPic {
     
        margin-left: 220px;
        order: 1;
        z-index: 10;
    }
    .landscapeAboutPic {
        order:2;
        position:relative;
        top:-100px;
    }

}