.splash {
    background-image: url("../../../public/images/homeBackground.png");
    background-size:contain;
    background-color: #04566e;
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splashContain {
    height:100%;
    display:flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
}



.button {
    background-color: #eff2f6;
    color: #022831;
    position: relative;
    // top:
    // left: 35%;
    // margin-top: 34%;
    background-image: none;
    // width: 30%;
    height: 70px;
    border: 2px solid #022831;
    font-size: 20px;
    box-shadow: 10px 10px 10px var(--dark);
    border-radius:20px;
    padding:1em;
}