.darkBg {
    background-color:var(--darkBackground);
}

.splash {
    background-image: url("../../images/homeBackground3.svg");
    background-size: contain;
    background-color: var(--darkBackground);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    background-position: center top;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.splashContain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go {
    margin-top: -10%;
    margin-left: 47%;
}

.going {
    margin-top: -40%;
    margin-left: 44%;
}

.migrate {
    text-align: center;
    font-family: TRANSAT;
    font-size: 8vw;
    margin:0;

}

.overview {
    color: var(--light);
    margin:0 10%;
    text-align: center;
}

.searchRespCenter {
    display: flex;
    justify-content: center;
    top: 90px;
    position: relative;
    transition:all .3s;
}

.tag {
    color: var(--light);
    margin-top: 0;
    text-align: center;

}

@media screen and (min-width:2560px) {
    // .searchRespCenter {
    //     padding-top:5%;
    // }
}

@media screen and (min-width:1451px) and (max-width:1700px) {
  
}

@media screen and (min-width:1151px) and (max-width:1450px) {
   
}

@media screen and (min-width:731px) and (max-width:1000px) and (min-height:901px){
    .searchRespCenter {
        top:25px;
    }
}

@media screen and (min-width:701px) and (max-width:1000px) and (max-height:900px){
    .searchRespCenter {
        top:35px;
    }
}


@media screen and (min-width:551px) and (max-width:700px) and (max-height:900px) {
    .searchRespCenter {
        top:125px;
    }
}

@media screen and (min-width:400px) and (max-width:550px) and (max-height:900px) {
    .searchRespCenter {
        top:80px;
    }
}

@media screen and (max-width:767px) {
    // .searchRespCenter {
    //     position:relative;
    //     top:50px;
    // }
}